.mainscreen-wrapper {
  height: 100vh;
  width: 100%;
  @include flex_centre;
  flex-direction: column;
}

.card-padding {
  padding: 0 $card-padding;
}

.card-wrapper {
  // height: calc($card-height * 1.02); // increased slightly to compensate for hover grow effect
  // width: calc($card-width * 1.02); // increased slightly to compensate for hover grow effect
  height: $card-height;
  width: $card-width;
  max-width: $card-max-width;
  display: flex;
  flex-direction: column;
  background: white;
}

.top-half {
  background-color: $black;
  color: white;
  min-height: 334px;
  display: flex;
  flex-direction: column;
}

.card-category-wrapper {
  justify-content: space-between;
  padding-top: 1rem;
}

.card-category {
  p {
    letter-spacing: 0.75px;
  }
  span {
    font-weight: 500;
    letter-spacing: 0.6px;
  }
}

.card-border {
  height: 68px;
  width: 100%;
  background-position: center;
  background-size: cover;
}

.card-id {
  border-radius: 100%;
  color: $black;
  height: 26px;
  width: 26px;
  @include flex_centre;
}

.title-wrapper {
  padding-top: 2rem;
  padding-bottom: 2.5rem;
  flex-grow: 1;
  display: flex;
  align-items: center;
  height: 260px;
  opacity: 0;
}

.bottom-half {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 2.5rem;
  background: white;
}

.question-wrapper {
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.question-text {
  font-size: 1.25rem;
  font-weight: 500;
  width: 100%;
  background-size: cover;
  p {
    letter-spacing: 0.8px;
  }
}

.card-list-item {
  padding-bottom: 0.75rem;
  list-style-type: none;
  padding: 0 0 0.75rem 2rem;
  background-position: 50%;
}

.additional-question {
  color: white;
  padding: 1rem 2rem;
}

.additional-text-wrapper {
  display: flex;
}

.additional-text {
  font-style: italic;
  strong {
    font-weight: 500;
  }
  p {
    padding-bottom: 0.5rem;
    letter-spacing: 0.375px;
    line-height: 130%;
  }
}

.question-column {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}
