// RESPONSIVE REMS
@media (min-width: 1960px) {
  html {
    font-size: calc(0.625rem + 0.41666666666666674vw);
  }
  $card-height: 42rem;

  .card-wrapper {
    height: $card-height;
  }

  .lottie-container {
    height: $card-height;
  }
  .top-half {
    min-height: 420px;
  }
}
@media (max-width: 1440px) {
  html {
    font-size: calc(0.8126951092611863rem + 0.20811654526534862vw);
  }
  .top-half {
    min-height: 320px;
  }
}
// @media (max-width: 479px) {
//   html {
//     // font-size: calc(0.7494769874476988rem + 0.8368200836820083vw);
//   }
// }

// LAPTOP - 1120PX
@media (max-width: $laptop) {
  // laptop variables
  $card-width: 60vw;
  $card-max-width: unset;
  $card-height: 42rem;

  .card-wrapper,
  .lottie-container {
    height: $card-height;
    width: $card-width;
    max-width: $card-max-width;
  }

  .right {
    right: calc(10vw - 48px);
  }

  .left {
    left: calc(10vw - 48px);
  }
}

//
@media (max-width: 863px) {
  .top-half {
    min-height: 290px;
  }
  .title-wrapper {
    padding-top: 1rem;
  }

  .additional-question {
    padding: 0.75rem 1rem;
  }
}

// ******* MAIN MOBILE VIEW SWITCH ********* //
@media (max-width: 806px) {
  $card-width: 80vw;
  $card-height: 40rem;

  .card-wrapper,
  .lottie-container {
    width: $card-width;
    height: $card-height;
  }
  .ui-wrapper {
    width: 100%;
  }
  .ui-inner {
    flex-direction: row;
    height: unset;
    width: unset;
    top: unset;
  }
  .left {
    left: calc(10vw - 6.5px);
    top: 1rem;
    justify-content: flex-start;
  }
  .right {
    right: unset;
    bottom: 1rem;
    align-items: center;
    width: 100%;
    flex-direction: row-reverse;
    gap: 2rem;
  }
  .arrow-right {
    transform: rotate(90deg);
  }
  .arrow-left {
    transform: rotate(270deg) !important;
  }
  .mainscreen-wrapper {
    padding-bottom: 3rem;
  }
}

@media (max-width: 623px) {
  $card-width: calc(100% - 2rem);
  .card-wrapper {
    width: $card-width;
    margin-left: 1rem;
  }
  .lottie-container {
    width: $card-width;
    // margin-left: 1rem;
  }
  .landingscreen-wrapper {
    @include flex_centre;
  }
  main {
    display: flex;
    justify-content: center;
  }

  .hamburger-menu-wrapper {
    right: 1rem;
  }
  .left {
    left: 1rem;
  }
}

@media (max-width: 519px) {
  // mobile card version
  $card-width: 100%;
  $card-height: 80vh;
  $card-max-width: calc(100% - 4rem);
  $card-max-height: 32rem;

  .react-card-back {
    @include flex_centre;
  }

  .card-wrapper {
    width: $card-width;
    height: $card-height;
    max-width: $card-max-width;
    max-height: $card-max-height;
    margin-left: 0;
  }
  .lottie-container {
    width: $card-width;
    height: $card-height;
    max-width: $card-max-width;
    max-height: $card-max-height;
    margin-left: 0;
  }
  .left {
    left: 2rem;
  }
  .hamburger-menu-wrapper {
    right: 2rem;
  }
  .card-border {
    height: 28px;
  }
  .card-padding {
    padding: 0 1.5rem;
  }
  .card-category-wrapper {
    padding-top: 1rem;
  }
  .card-category {
    font-size: 12px;
  }
  .card-id {
    width: 20px;
    height: 20px;
    p {
      font-size: 12px;
    }
  }
  h1 {
    font-size: 2rem !important;
  }
  p {
    font-size: 12px !important;
  }
  h3 {
    font-size: 1.5rem !important;
  }
  .top-half {
    min-height: 200px;
  }
  .bottom-half {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .question-wrapper {
    padding-bottom: 1rem;
  }
  .question-text {
    font-size: 1rem;
  }
  .additional-text p {
    font-size: 12px;
  }
  .card-list-item {
    padding-left: 1.5rem;
  }
  .red-bullet-point {
    background: url(/svgs/red-bullet-mobile.svg) no-repeat left 2px;
  }
  .blue-bullet-point {
    background: url(/svgs/blue-bullet-mobile.svg) no-repeat left 2px;
  }
  .yellow-bullet-point {
    background: url(/svgs/yellow-bullet-mobile.svg) no-repeat left 2px;
  }
  .pathway-item {
    width: 31%;
    margin-bottom: 1.5rem !important;
  }
  .pdf-title {
    font-size: 14px !important;
  }
  .modal-footer {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4rem;
  }
  .left-footer {
    flex-basis: 100%;
    border-right: none;
  }
  .right-footer {
    flex-basis: 100%;
  }
  .clare-wrapper {
    justify-content: flex-start;
  }
  .clare-logo {
    margin-top: 1rem;
    width: 35%;
  }
  .modal-inner-wrapper {
    padding-bottom: 5rem;
  }
  .modal-inner-medium {
    padding-bottom: 3rem;
  }
}

@media (max-width: 419px) {
  $card-width: calc(100% - 2rem);
  $card-height: 35rem;

  .card-wrapper {
    max-width: $card-width;
    max-height: $card-height;
  }
  .lottie-container {
    max-width: $card-width;
    max-height: $card-height;
  }
  .top-half {
    min-height: 220px;
  }
  .left {
    left: 1rem;
  }
  .hamburger-menu-wrapper {
    right: 1rem;
  }
  .pathway-item {
    width: 47%;
    height: 15rem;
    margin-bottom: 1rem !important;
  }
  .modal-inner-medium {
    width: 100%;
  }
  .copy-link-wrapper {
    overflow: hidden;
    p {
      max-width: 85%;
      word-wrap: break-word;
      overflow-wrap: break-word;
      text-align: left !important;
    }
    svg {
      min-width: 24px;
    }
  }
  .mainscreen-wrapper {
    padding-bottom: 6rem;
  }
  .mobile-menu-wrapper {
    height: 90%;
  }

  // shrink ui
  $ui-lottie-size: 42px;

  .ui-lottie-container,
  .close-lottie {
    width: $ui-lottie-size;
    height: $ui-lottie-size;
  }
  .hamburger-icon {
    width: $ui-lottie-size - 2;
    height: $ui-lottie-size - 2;
  }
  .pathways-lottie,
  .pathways-pulse-wrapper,
  .pathways-text-wrapper {
    width: 72px;
    height: 72px;
  }
  .pathways-pulse-lottie {
    width: 96px;
    height: 96px;
  }
  .pathways-text-wrapper p {
    font-size: 9px !important;
  }
  .right {
    gap: 1.5rem;
  }
}
