.lottie-container {
  width: $card-width;
  max-width: $card-max-width;
  height: $card-height;
  position: relative;
  background: white;
}
.react-card-flip {
  position: absolute;
}
.preloader {
  z-index: 2;
}
