// MAIN UI
.ui-inner {
  position: absolute;
  top: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  div {
    cursor: pointer;
  }
}

.left {
  left: $g1;
}

.right {
  right: $g1;
}

// TOP BORDER
.top-border-wrapper {
  position: absolute;
  top: 0;
  height: 38px;
  width: 100%;
}

// FOOTER
.footer-wrapper {
  gap: 1rem;
  position: fixed;
  bottom: $g1 / 2;
  color: $mid-grey;
  font-weight: 800;
  font-size: 0.75rem;
  letter-spacing: 1.2px;
}
.footer-item {
  padding-right: 1rem;
  border-right: 1.5px solid $mid-grey;
  p {
    line-height: 70%;
  }
}
