// MAIN UI
.ui-inner {
  position: absolute;
  top: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  width: $ui-sidebar-width;
  div {
    cursor: pointer;
  }
}

.left {
  left: $g1;
}

.right {
  left: calc($g11 - $ui-sidebar-width);
  // right: $g1;
}

.ui-lottie-wrapper {
  display: flex;
}

.ui-item {
  @include flex_centre;
}

.ui-lottie-container {
  width: $ui-lottie-size;
  height: $ui-lottie-size;
}

// TOOL TIPS
.tooltip-wrapper {
  position: absolute;
}

.tooltip-container {
  position: relative;
  height: $ui-lottie-size;
  width: $ui-lottie-size;
  // right: calc($ui-lottie-size + 1rem);
  @include flex_centre;
  justify-content: flex-start;
}

.tooltip {
  padding: 0.5rem 1rem;
  p {
    color: white;
    font-size: 12px;
    font-weight: 800;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    white-space: nowrap;
  }
}

// BUTTONS
.primary-cta {
  display: flex;
  gap: 0.75rem;
  background-color: #ffc85d;
  font-size: 14px;
  padding: 0.5rem 1rem;
  p {
    // line-height: 1rem;
  }
}

// ICONS
.social-share-wrapper {
  justify-content: center;
}
.social-share-item {
  @include flex_centre;
  flex-direction: column;
  p {
    text-transform: capitalize;
  }
}

.social-share-icon {
  background-color: $subtle-grey;
  padding: 1rem;
  border-radius: 100%;
  width: 56px;
  height: 56px;
  svg {
    width: 24px;
    height: 24px;
  }
}

// FORM / INPUTS
.copy-link-wrapper {
  background-color: $subtle-grey;
  color: $dark-grey;
  opacity: 0.8;
  padding: 1.125rem 0.75rem;
  gap: 1rem;
}

// SVG hovers
.copy-link-wrapper:hover #content_copy {
  fill: $dark-grey;
  transition: fill 0.2s;
}

#content_copy {
  fill: $grey;
  transition: fill 0.2s;
}

.copy-link-wrapper:hover p {
  font-weight: 500;
}

#fb-icon,
#x-icon,
#reddit-icon,
#discord-icon {
  fill: $black;
  // transition: fill 0.2s;
}

.social-share-item:hover #fb-icon,
.social-share-item:hover #x-icon,
.social-share-item:hover #reddit-icon,
.social-share-item:hover #discord-icon {
  fill: $subtle-grey;
  // transition: fill 0.2s;
}

.social-share-item:hover .social-share-icon {
  background-color: $dark-grey;
  transition: fill 0.4s;
}

.social-share-item:hover p {
  text-decoration: underline;
  transition: fill 0.4s;
}

// MODALS
.close-btn {
  width: 100%;
  height: $g1 * 2.5;
  max-height: 10rem;
  padding-top: $g1 / 3;
  @include flex_centre;
}

.small-close-btn {
  height: 6rem;
  padding-top: 1rem;
}

// TOP BORDER
.top-border-wrapper {
  position: absolute;
  top: 0;
  height: 38px;
  width: $width-minus-scrollbar;
}

// FOOTER
.footer-wrapper {
  gap: 1rem;
  position: fixed;
  bottom: 5%;
  color: $mid-grey;
  font-weight: 800;
  font-size: 0.75rem;
}
.footer-item {
  padding-right: 1rem;
  border-right: 1.5px solid $mid-grey;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex-wrap: nowrap;
  p {
    line-height: 70%;
    letter-spacing: 1.2px;
  }
}

.link-footer svg {
  height: 10.5px;
}

.link-download-svg {
  stroke: #727272;
}
