// fonts
$kefa: var(--font-kefa, Arial, Helvetica, sans-serif);

// colors
$black: #130c0e;
$dark-grey: #5b5b5b;
$mid-grey: #727272;
$grey: #b2b2b2;
$light-grey: #e0e0e0;
$subtle-grey: #f5f5f5;

$red: #c90e44;
$blue: #00b5af;
$yellow: #fdb932;

// grid-sizes
$g1: calc(100vw / 12 * 1);
$g2: calc(100vw / 12 * 2);
$g3: calc(100vw / 12 * 3);
$g4: calc(100vw / 12 * 4);
$g5: calc(100vw / 12 * 5);
$g6: calc(100vw / 12 * 6);
$g7: calc(100vw / 12 * 7);
$g8: calc(100vw / 12 * 8);
$g9: calc(100vw / 12 * 9);
$g10: calc(100vw / 12 * 10);
$g11: calc(100vw / 12 * 11);
$g12: calc(100vw / 12 * 12);

// reusable sizes
$gutter: 20px;
$card-padding: 3rem;
$card-width: 60vw;
$card-max-width: 42rem;
$card-height: 40rem;
$width-minus-scrollbar: calc(100vw - 5px);
$ui-sidebar-width: 96px;
$ui-lottie-size: 56px;