@import "./variables", "./mixins", "./UI", "./preloader", "./modals", "./cards",
  "./comments", "./dynamicStyles", "./reusableClasses";

// CSS RESET
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
}

ul {
  padding-left: 0px;
}

// GLOBAL ELEMENTS
html {
  color: $black;
  max-width: $width-minus-scrollbar;
}

main {
  overflow: hidden;
}

h1,
h2,
h3 {
  font-family: $kefa;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 2rem;
  letter-spacing: 0.512px;
  line-height: 150%;
}

p {
  line-height: 140%;
  letter-spacing: 0.16px;
}

// CUSTOM SCROLLBAR
/* Width of the scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

/* Track of the scrollbar */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle of the scrollbar */
::-webkit-scrollbar-thumb {
  background: $light-grey;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $grey;
}
